*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  max-width: 100%;
  -webkit-tap-highlight-color: transparent;
}
:root{
  --main-color:  #f07e21;
  --primary-color: #fff;
  --bg-gradient: radial-gradient(circle, #f5896d, #f07e21);
  --ter-color:#000;
  --four-color:rgb(107, 101, 101);
}
.darkmode{
  --main-color:   #1e1e2f;
  --primary-color: #fff;
  --bg-gradient: radial-gradient(circle, #2c2c54, #1e1e2f, #0a0a0f);
  --ter-color:  #f06f06;
  --four-color:rgb(151, 141, 141);
}
/* utility styles start*/
html{
  scroll-behavior: smooth;
}
button{
  padding: 10px 30px;
  background-color: var(--main-color);
  border: 2px solid transparent;
  border-radius: 8px;
}
button:hover{
  border: 2px solid var(--main-color);
  background-color: var(--primary-color);
}
/* utility styles ends*/

/* nav starts */
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 11;
  background: var(--primary-color);
}
nav .logo{
  width: 150px;
  height: auto;
  transform: translateY(-4px);
  margin-right: auto;
}
nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-flex;
  align-items: center;
  margin-left: 50px;
}

nav ul li a {
  text-decoration: none;
  color: var(--main-color);
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid transparent;
  transition: 0.3s ease-in-out;
  padding: 5px 10px;
}

li:not(:last-child) a:hover {
  border-bottom: 2px solid var(--main-color);
}


/* Menu Icon */
.menu-icon svg {
  fill: var(--main-color);
}

.theme-switch{
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex ;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  cursor: pointer;
}
.theme-switch {
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-color);
  cursor: pointer;
}

.theme-switch svg {
  fill: var(--main-color);
}

 .theme-switch svg:first-child {
  display: none;
}

.theme-switch svg:last-child {
  display: block;
}
.menu-btn{
  display: none;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: #ffffff83;
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.479);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}

.sidebar li {
  width: 100%;
  margin-top: 30px;
}

.sidebar a {
  width: 100%;
}

.sidebar li a:first-child {
  border-bottom: none;
}

.sidebar .close-btn svg {
  fill: var(--main-color);
  transform: translate3d(-40px, 0, 0);
}

.sidebar .theme-switch {
  backdrop-filter: blur(10px);
  background-color: #ffffff83;
  border: 2px solid rgba(0, 0, 0, 0.2);
  position: relative;
  left: 30px;
  top: -20px;
}
/* nav ends */

/* header start */
header{
  height: 600px;
  background:var(--bg-gradient);
}
.main-part {
  padding: 30px;
  border-radius: 15px;
  width: 700px;
  height: 400px;
  padding: 3rem;
}

.main-part h1{
  font-size: 6rem;
  margin: 5px 0;
  font-weight: bold;
  color: var(--primary-color);
}

.main-part h2{
  margin-top: 40px;
  color: var(--ter-color);
  font-size: 4rem;
}

.main-part h3 {
  font-size: 1.5rem;
  color: var(--ter-color);
  letter-spacing: 2px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main-part h1, h3 {
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}
.icon-part{
  display: flex;
  margin-top: 60px;
}
.icon-part ul{
  display: flex;
  list-style: none  ;
  margin-left:-10px ;
}
.icon-part ul li{
  display: block;
  margin-left: 60px;
  cursor: pointer;

}
.icon-part ul li a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 24px;  
  border-radius: 50%;
  width: 40px;  
  height: 40px;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  transition: transform 0.3s ease, font-size 0.3s ease;
}
.icon-part ul li a:hover{
  transform: scale(0.8);
  font-size: 18px;
  border-color: var(--primary-color);
}
/* header ends  */

/* about section start */
.main-section{
  height: 700px;
  padding: 20px;
}
.main-section{
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}
.main-section.show{
  opacity: 1;
  transform: translateY(0);
}
.main-section .add-head{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:Monaco, Consolas, “Lucida Console”, monospace;
  font-size: 50px;
  font-weight: 10;
  margin-top: 50px;
  margin-bottom: 70px;
}
.main-section .sect-content{
  display: flex;
  justify-content: center;
}
.main-section .address-part{
  max-width: 40%;
  display: flex;
  flex-direction: column;
}
.main-section .address-part p{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  font-family: Candara, Calibri, Segoe, “Segoe UI”, Optima, Arial, sans-serif;
}
.main-section .address-part p strong{
  width:120px
}
.main-section .address-part p .space{
  margin-left: 30px;
  color: var(--four-color);
}
.main-section .description-part{
  max-width: 60%;
  margin-left: 40px;
  margin-bottom: 125px;
  
}
.description-part .des-head{
  font-family:Monaco, Consolas, “Lucida Console”, monospace;
  font-size: 30px;
  font-weight: 20;
  margin-bottom: 15px;
}
.description-part p{
  font-size: 20px;
  font-family: Candara, Calibri, Segoe, “Segoe UI”, Optima, Arial, sans-serif;
  color: var(--four-color);
}
.description-part .one{
  margin-bottom: 20px;
}
.main-section .description-part ul{
  display: flex;
}
.main-section .description-part ul li{
  display: flex;
  list-style: none;
  margin-right: 30px;
  margin-top: 30px;
 
}
.description-part ul li a{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 24px;  
  background-color: var(--primary-color);
  border-radius: 30%;
  width: 40px;  
  height: 40px;
  border: 2px solid var(--four-color);
  color: var(--four-color);
  transition: transform 0.3s ease, font-size 0.3s ease;
}
.description-part ul li a:hover{
  transform: scale(0.9);
  background: var(--four-color);
  color: var(--primary-color);
  border-color: var(--primary-color);
}

/* about section ends */

/* experience section start */
.resume-sec {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  height: auto; 
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  background: var(--bg-gradient);
}

.resume-sec .resmain-head {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 10;
  margin-top: 50px;
  margin-bottom: 70px;
  color: var(--primary-color);
}

.res-head {
  margin-bottom: 70px;
  z-index: 1;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid var(--main-color);
  color: var(--four-color);
  background-color: var(--primary-color);
}

.work-exp {
  width: 100%;
  max-width: 400px;
  background: var(--primary-color);
  padding: 20px;
  border-radius: 20px;
  margin-bottom: 30px;
}

.right {
  transform: translateX(-300px);
}

.left {
  transform: translateX(300px);
}

.main-con {
  position: relative;
  max-width: 1200px;
  margin-bottom: 50px; 
}

.main-con svg {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 4px;
  fill: var(--four-color);
  border-radius: 50%;
  border: 2px solid var(--four-color);
  background-color: var(--primary-color);
  right: 175px;
  top: 60px;
  z-index: 10;
}

.main-con::after {
  content: '';
  position: absolute;
  width: 4px;
  height: calc(100% + 180px);
  background: var(--four-color);
  z-index: 0;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-con:first-child::after {
  top: -70px;
}

.education .main-con:last-child::after {
  height: 100%;
}

.exp-part h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.exp-part h2 {
  font-size: 18px;
  color: var(--four-color);
  margin-bottom: 10px;
}

/* Animation for SVGs */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.main-con svg,
.main-con .exp-part {
  opacity: 0;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.main-con.animate svg {
  animation: fadeInUp 1s ease-in-out forwards;
}

.main-con.animate .exp-part {
  animation: fadeInLeft 1s ease-in-out forwards;
}
/* experience section ends */


/* skill section start */
.skills-sec{
  font-family:Monaco, Consolas, “Lucida Console”, monospace;
  height: auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 100px;
}
.skills-sec h1{
  font-size: 40px;
  font-weight: 150;
  margin-top: 30px;
  margin-bottom: 70px;
}

.skills-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}


.progress-bar {
  width: 150px;
  height: 150px;
  position: relative;
}


.progress-bar-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    var(--main-color) 0%,  
    var(--main-color) var(--progress, 0%),  
    var(--four-color) var(--progress, 0%),  
    var(--four-color) 100%
  );
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 1.5s ease-in-out;
}

.progress-bar-circle::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: var(--primary-color); 
}

.progress-text {
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  color: #333; 
  z-index: 1;
  text-align: center;
}

.progress-percent {
  display: block;
  font-size: 16px;
  color: var(--main-color); 
}
/* staright bars start */
.bar-section{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 30px;
}
.left-bars,
.right-bars {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.bar-prog {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
}
.bar-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bar-section span {
  height: 6px;
  width: 100%;
  position: relative;
  display: block;
  border-radius: 3px;
  background: var(--four-color);
  overflow: hidden;
}

.bar-section span::before {
  content: "";
  position: absolute;
  height: 100%;
  width: var(--progress);
  border-radius: 3px;
  background: currentColor;
}
.left-bars .bar-prog:nth-child(1) span::before { background: orange; }  /* HTML */
.left-bars .bar-prog:nth-child(2) span::before { background: blue; }    /* CSS */
.right-bars .bar-prog:nth-child(1) span::before { background: yellow; } /* JavaScript */
.right-bars .bar-prog:nth-child(2) span::before { background: red; }    /* Java */
/* responsive start */

/* project section start */
.project-sec{
  height: 700px;
  padding-top: 100px;
  padding: 20px;
  background: var(--bg-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.project-sec h1{
  font-family:Monaco, Consolas, “Lucida Console”, monospace;
  font-weight: 100;
  color: var(--primary-color);
  font-size: 40px;
  margin-bottom: 30px;
  transform: translateY(-70px);
}
.projects{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.img-container{
  position: relative;
  height: 200px;
  width: 250px;
  overflow: hidden;
  background-color:var(--primary-color);
  cursor: pointer;
}
.img-container img{
  height: 100%;
  width: 100%;
  transition: opacity 0.3s ease-in-out;
}
.img-container::after {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family:Monaco, Consolas, “Lucida Console”, monospace;
  font-size: 15px;
  font-weight: bold;
  color: black;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.img-container:hover img {
  opacity: 0; 
}

.img-container:hover::after {
  opacity: 1; 
}
/* project section end */

/* contact section start */
.contact-sec{
  height: 600px;
  padding-top: 100px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:Monaco, Consolas, “Lucida Console”, monospace;
}
.contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.cont-text-ter{
color: var(--four-color);
font-size: 25px;
font-weight: 100;
}
.cont-text-pri{
  font-size: 40px;
}
.contact-sec {
  text-align: center;
  padding: 50px;
  background: var(--primary-color);
}
 form{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 10px;
    width: 500px;
}
.contact-inputs{
    width: 100%;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
}
form textarea {
    grid-column: span 2;
    width: calc(100% + 10px);
    height: 150px;
    padding: 10px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    resize: none;
}
form button{
  grid-column: span 2;
justify-self: center;
}
button{
  color: var(--primary-color);
}
button:hover{
  color: var(--main-color);
}
/* contact section end */
/* responce contact */

/* footer start */
footer {
  text-align: center;
  padding: 10px;
  background: var(--main-color); 
  color: white;
  font-size: 14px;
}
/* footer ends */

/* reśposineness start */
@media screen and (max-width: 1124px){
  /* nav part */
  nav{
    font-size: 15px;
  }
  nav .logo{
    width: 100px;
    height: auto;
  }
  nav ul li {
    margin-left: 30px;
  }
  .theme-switch {
    height: 30px;
    width: 30px;
}
/* about secion */
.main-section .add-head{
  font-size: 40px;
}
.main-section .address-part p{
  font-size: 18px;
}
.description-part .des-head{
  font-size: 27px;
}
.description-part p{
  font-size: 17px;
}
}
@media screen and (max-width: 1034px){
  /* header part */
  header{
    height: 600px;
  }
.main-part{
  height: 300px;
}
.main-part h1{
    font-size: 4rem;
}
.main-part h3 {
  font-size: 1rem;
}
.icon-part{
  margin-top: 100px;
}
/* experience start */
.main-con {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 60px;
}

.main-con svg {
  position: absolute;
  left: -55px;
  top: 60px;
  transform: translateX(-50%);
  z-index: 10;
}

.main-con::after {
  content: '';
  position: absolute;
  left: -30px;
  width: 4px;
  height: calc(100% + 200px);
  background: var(--four-color);
  z-index: 0;
  top: 0;
  transform: translateX(-50%);
}

.work-exp {
  max-width: 600px; 
  width: 100%;
 
  margin-left: 60px;
  margin-right: 0;
}

.right,
.left {
  transform: translateX(0);
}
/* skils section */
.bar-section {
  flex-direction: column; 
  align-items: center; 
  width: 90%;
  margin: 0 auto;
  gap: 30px; 
}

.left-bars,
.right-bars {
  width: 100%;
  align-items: center;
}

.bar-prog {
  width: 90%; 
  max-width: 600px;
}
.skills-section {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap:  20px 20px;
  padding: 20px 0PX;
  align-items: end;
  justify-items: center;
}  
/* contact */
form {
  width: 100%;
  grid-template-columns: 1fr; 
}

form textarea {
  grid-column: span 1; 
  width: 100%;
}

form button {
  grid-column: span 1; 
  width: 50%; 
}

}
@media screen and (max-width: 840px){
  /* nav part */
  nav .logo{
    margin-right: auto;
  }
   nav .menu-btn{
    margin-left: auto;
   }
    .menu-btn{
      display: block;
     
    }
    .hideOnMobile{
      display: none;
    }
    nav .logo{
      margin-left: 0px;
    }
    /* header part */
    .icon-part ul{
    margin-left: 20px;
    }
    .icon-part ul li{
      margin-left: 30px;
    }
    .sidebar .close-btn svg {
      transform: translate3d(-10px, 0, 0);
    }
    /* about section */
    .main-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
    }
    .main-section .sect-content {
      flex-direction: column;
      align-items: center;
    }
    .main-section .description-part {
      padding: 30px 40px 0 0;
    }
    .main-section .address-part,
    .main-section .description-part {
      max-width: 100%;
      width: 100vh;
      margin: 0 auto;
    }
    /* experience start */
    .resume-sec .resmain-head{
      font-size: 40px !important;
    }
    .main-con {
      margin-left: 20px;
      margin-right: 20px; 
    }
    .main-con svg {
      left: -23px; 
      top: 60px;
      transform: translateX(-50%);
    }
  
    .main-con::after {
      left: 0; 
      width: 4px;
      height: calc(100% + 200px); 
      background: var(--four-color);
      z-index: 0;
      top: 0;
      transform: translateX(-50%);
    }
  
    .work-exp {
      max-width: calc(100% - 40px); 
      width: 100%;
      padding: 15px;
      margin-left: 40px; 
      margin-right: 0;
      box-sizing: border-box; 
    }
  
    .right,
    .left {
      transform: translateX(0);
    }
    /* projects */
    .project-sec h1{
      margin-top: 80px !important;
      font-size: 40px !important;
    }
    /* contact */
    .contact-sec {
      padding: 30px; 
    }
  
    .contact {
      gap: 15px; 
    }
  
    .cont-text-pri {
      font-size: 35px; 
    }
  
    .cont-text-ter {
      font-size: 22px; 
    }
  
    form {
      width: 100%; 
      padding: 0 10px; 
    }
  
    form button {
      width: 80%; 
    }
}
@media screen and (max-width: 450px) {
  /* nav */
  nav {
    width: 100vw; 
  }
  nav .logo {
    width: 80px;
    margin-left: 0;
  }
  nav .menu-btn {
    margin-right: auto;
  }
  .sidebar {
    right: 0; 
    width: 200px;
  }
  .sidebar .close-btn svg {
    transform: translate3d(-10px, 0, 0);
  }
  /* header  */
  .header{
    width: 100vh;
    height: 550px;
  }
  .main-part{
    height: 300px;
  }
  .main-part h1{
      font-size: 3rem !important;
  }
  .main-part h3{
    font-size: 1rem;
    margin-top: 20px;
  }
  .main-part h2{
    font-size: 2rem;
    margin-bottom: 20px;
    margin-bottom: 20px;
  }
  .icon-part ul{
   margin-bottom: 50px;
  }
  /* about */
.main-section .address-part,
.main-section .description-part {
  max-width: 100%;
  width: 100vw;
  margin: 0 auto;
}
}   
