@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* RESETS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOTS */
    :root{
        --main-color:#e3e8e4;
        --primary-color:#363636;
        --main-font: "Playfair Display", serif;
    }
/* NAV START */
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
    position: fixed;
    background-color: #a1a0a0;
    width: 100%;
    z-index: 2;
}
ul li{
    display: inline;
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: black;
    margin-left: 4rem;
}
ul li a:hover{
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: 8px;
}
.btn-fill{
    padding: 10px 30px;
    background: var(--primary-color);
    border: none;
    border-radius: 100px;
    color: #e3e8e4;
    cursor: pointer;
}
/* NAV END */

.btn-outline{
    background: transparent;
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 100px;
    margin-left: 20px;
    font-weight: bold;
    cursor: pointer;
}
/* HEADER START */
header{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.content-container{
    margin-left: 6rem;
}
.main-headings{
    font-size: 4rem;
    font-family: var(--main-font);
    color: #0000004f ;
    margin-bottom: 2rem;
}
.main-headings span{
    color: black;
}
.primery-headings{
    max-width: 500px;
    font-family: sans-serif;
    line-height: 25px;
    margin-bottom: 2rem;
}
.img-container{
    width:400px;
    height:400px;
    background: var(--main-color);
    border-radius: 100%;
    margin-right: 30px;
    position: relative;
}
.img-container img{
    width: 400px;
    height: 500px;
    margin-left: 10px;
    margin-bottom: 40px ;
    position: absolute;
    top: -100px;
    /* transform: translateY(-100px); */
}
/* HEADER ENDS */

/* popularity section START */
.popularity{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.popularity div{
    margin-right: 5rem;
}
.popularity div h1{
    font-size: 3rem;
    text-align: center;
    color: #363636;
    font-family:var(--main-font) ;
}
.popularity div p{
    color: #363636;
    font-family: sans-serif;
}
/* popularity section END */

/* PRODUCT SECTION START */
.products-heading{
    text-align: center;
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 4rem;
    color: #0000004f;
}
.products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.product .product-img-container{
    background-color: var(--main-color);
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    padding: 10px 5px;
}
.product .product-img-container .img{
    width: 200px;
    height: 200px;
    transform: translateX(20px);
    position: relative;
    top: -20px;

}
.product .product-img-container .img-one{
    background:url(images/daniil-silantev-1P6AnKDw6S8-unsplash-removebg-preview.png);
    background-size: cover;
    background-position: center;
}
.product .product-img-container .img-two{
    background:url(images/bruno-emmanuelle--MUoHL1XULM-unsplash-removebg-preview.png);
    background-size: cover;
    background-position: center;
}
.product .product-img-container .img-three{
    background:url(images/scott-webb-eD853mTbBA0-unsplash-removebg-preview.png);
    background-size: cover;
    background-position: center;
}
.product-content{
    background-color: var(--primary-color);
    padding: 27px;
    padding-bottom: 50px;
    text-align: center;
    color: white;
}
.product-content .product-name{
    font-family: sans-serif;
    margin-bottom: 10px;
}
.b-container{
    text-align: center;
}
.b-container button{
    border: none;
    background: transparent;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 20px;
}
/* PRODUCT SECTION END */

/* WHY CHOOSE US START */
.why-us{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10rem;
}
.why-us .img-layer{
    width: 400px;
    height: 400px;
    background: var(--main-color);
    border-radius: 100%;
}
.why-us .img-layer .img{
    width: 400px;
    height: 400px;
    background: url(images/scott-webb-eD853mTbBA0-unsplash-removebg-preview.png);
    background-size: cover;
    background-position: center;
}
.cards{
    display: grid;
    grid-template-columns: 2fr 2fr;
}
.card{
    width: 200px;
    height: 150px;
    padding: 20px;
    margin-top: 40px;
    border-radius: 5px;
}
.card-fill{
    background: #e3e8e490;
    position: relative;  
}
.card-fill .star{
    width: 10px;
    height: 10px;
    padding: 15px;
    border-radius: 100%;
    background: var(--primary-color);
    position: absolute;
    top: -15px;
    left: -10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color: white;
}
.card h1{
    color: black;
    font-family: sans-serif;
    font-size: 17px;
}
.card p{
    color: #999;
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 20px;
}
/* WHY CHOOSE US END */

/* FEATURES SECTION START */
.features{
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.d-none img{
    width: 300px;
    height: 350px;
    position: relative;
    top: 5px;
    right: -40px;
}

/* FEATURES SECTION END */

/* FOOTER START */
footer{
    background-color: var(--primary-color);
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
    color: #fff;
}
footer .logo-cotainer h1{
    font-size:4rem;
    font-family: var(--main-font);
    margin-bottom: 20px;
}
footer .logo-cotainer p{
    max-width: 400px;
    font-family: sans-serif;
    line-height: 25px;
}
footer .about-company{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.about-company .container{
    margin-right: 40px;
    margin-top: 20px;
}
.about-company .container h1{
    margin-bottom: 50px;
}
.about-company .container p{
    margin-bottom: 20px;
    font-family: sans-serif;
}
/* FOOTER END */

/* RESPONSIVENESS START */

@media screen and (max-width: 1150px) {
    .d-none{
        display: none;
    }
}
@media screen and (max-width: 1045px) and (min-width: 945px){
    header{
        height: 120vh;
        text-align: center;
        justify-content: center;
    }
    header .content-container{
        margin-bottom: 6rem;
        margin-top: 4rem;
        margin-left: 0;
        max-width: 70%;
    }
    header .img-container img{
        position: absolute;
        left: -10px;
    }
}
@media screen and (max-width: 945px){
    header{
        height: 120vh;
        text-align: center;
        justify-content: center;
    }
    header .content-container{
        margin-bottom: 6rem;
        margin-top: 4rem;
        margin-left: 0;
    }
    .popularity{
        margin-top: 22rem;
        text-align: center;
    }
    header .img-container img{
        position: absolute;
        left: -10px;
    }
}
    @media screen and (max-width: 700px){
        nav{
            padding: 15px;
        }
        ul li a{
            margin-left: 2rem;
        }
        .btn-fill{
            padding: 7px 20px;
            font-size: 12px;
        }
    }
    @media screen and (max-width: 600px){
        header .img-container{
            margin: 0 auto;
        }
        nav{
            padding: 10px;
        }
        ul li a{
            margin-left: 1rem;
        }
        .btn-fill{
            padding: 7px 10px;
            font-size: 13px;
        }
        .popularity{
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: center;
            font-size:12px;
        }
        .popularity div{
            margin: 0 auto;
        }
        .popularity div h1{
            font-size: 2rem;
        }
        .products-heading{
            margin-top: 5rem;
            font-size: 3rem;
            margin-bottom: 2rem;
        }
        .why-us{
            justify-content: center;
            align-items: center;
            margin-top: 5rem;
        }
        .why-us .img-layer{
            width: 300px;
            height: 300px;
            background: var(--main-color);
            border-radius: 100%;
        }
        .why-us .img-layer .img{
            width: 300px;
            height: 300px;
        }
        .content-container {
            margin: 0 auto;
        }
        .content-container .main-headings{
            font-size: 3rem;
            margin-left: 2rem;
        }
        .content-container .primery-headings{
            margin-left: 2rem;
        }
        .content-container .cards{
            margin-left: 2rem;
        }
       .features{
        justify-content: center;
        margin: 0 auto;
       }
         .features .card{
            margin-right: 10px;
        }
        footer{
            height: 100vh;
        }
        .primery-headings{
            font-size: 15px;
        }
    }